@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --text : #f0f0f0;
        --secondary : #161617;
        --secondaryBox : #1F1E20;
        --mainColor : #9852EE;
        --mediumDark : #6737A3;
        --darkMain : #3D1F62;
        --stroke : #676767;
        --button :  217, 217, 217;
    }


*{
    font-family: "Sarabun", serif;
}