@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --text : #f0f0f0;
        --secondary : #262629;
        --secondaryBox : #171717;
        --mobileBgc : #70628e;
        --mainColor : #00A97F;
        --mediumDark : #008463;
        --darkMain : #006A50;
        --stroke : #8E8E8E;
        --button :  142, 142, 142;
    }


*{
    font-family: "Sarabun", serif;
}